
header {
    height: 50px;
    width: 500px;
    padding: 20px;
    border: 20px solid black;
    margin: 50px;
    background-color: yellow;      
    font-size: 40px;
    font-weight: bold;
    text-align: center; 
    
}

.title {
    padding: 20px;
    color: black;
}

.description {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
    