
header {
    padding: 20px;
    border: 20px solid rebeccapurple;
    margin: 40px;
    background-color: bisque;      
    font-size: 40px;
    font-weight: bold;
    text-align: center; 
    
}

.title {
    padding: 20px;
    color: red;
}

